<h1>Thông tin người dùng</h1>
<p>Company: <%= @user.company.name %></p>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Active: <%= @user.active %></p>
<%= link_to 'Quay lại', users_path %>