<div>
<h1 class = 'text-center' style = 'color: red;'>Users list</h1>
<% flash.each do |type, msg| %>
  <div class='alert alert-success'>
    <%= msg %>
  </div>
<% end %>

<p class= 'text-center' style></p>
<div class='text-center'><%= link_to 'Sign up your account', new_user_path, class: 'btn btn-dark'%></div><br>
<div class="row">
    <div class="col-md-12">
      <table class="table text-center">
    <tr class='bg-primary'>
      <th class='text-center col-md-1'>Index</th>
      <th class='text-center col-md-3'>Name</th>
      <th class='text-center col-md-3'>Email</th>
      <th class='text-center col-md-1'>Show</th>
      <th class='text-center col-md-1'>Edit</th>
      <th class='text-center col-md-1'>Remove</th>
    </tr>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td class = 'fs-4'><%= create_index params[:page], index, 10 %></td>
          <td class = 'fs-4'><%= user.name %></td>
          <td class = 'fs-4'><%= user.email %></td>
          <td class = 'fs-4'><%= link_to 'Show', user, class: 'btn btn-info'%></td>
          <td class = 'fs-4'><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning'%></td>
          <td class = 'fs-4'><%= button_to 'Remove', user_path(user), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
          </td>
        </tr>
      <% end %>
  </table>
</div>
</div>
  <%= will_paginate @users, class: 'pagination' %>
</div>