<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <%= f.label :Name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :Email%><br>
  <%= f.password_field :email%><br>
  <%= f.submit "Create Your User" %>
<%end%>