<%= form_with model: @company, url: '/companies', method: :post do |form| %>  <p>
    <%= form.label :name %>:
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :location %>:
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.submit 'Lưu' %>
  </p>
<% end %>

<%= link_to 'Quay lại', companies_path %>